.navbar{
    position: fixed;
    z-index: 10;
    width: 100%;
}

#H:hover{
    background-color: #C70039;
    color: white;
}


@media only screen and (max-width: 600px) {
    #home{
        display: None;
    }

    .container:active .overlay{
        pointer-events: none;
    }
}

@media only screen and (max-width: 750px){
    div{
        background-color: #FFAC00;
    }
}


/*@media (min-width:600px) {
    .container img{
        width: 50px;
        height: auto;
    }
}

@media (min-width:800px) {
}

@media (min-width:1000px) {
}*/


#home{
    background-color: white;
    padding: 50px 20px;
    height: 800px;
    background-image: url("Home/background4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.circle{
    position: relative;
    display: block;
}

/*.home-container{
    display: flex;
    flex-wrap: wrap;
}*/

#women-in{
    position: absolute;
    width: 25%;
    height: auto;
    margin-left: 38%;
    margin-right: auto;
    margin-top: 15%;
    margin-bottom: auto;
    z-index: 5;
}

#ScienceCircle{
    position: absolute;
    width: 15%;
    height: auto;
    margin-left: 29%;
    margin-right: auto;
    margin-top: 13%;
    margin-bottom: auto;
    z-index: 1;
}

#ArtsCircle{
    position: absolute;
    width: 12%;
    height: auto;
    margin-left: 30%;
    margin-right: auto;
    margin-top: 25%;
    margin-bottom: auto;
    z-index: 6;
}

#PoliticsCircle{
    position: absolute;
    width: 14%;
    height: auto;
    margin-left: 54%;
    margin-right: auto;
    margin-top: 21%;
    margin-bottom: auto;
    z-index: 4;
}

#SocialCircle{
    position: absolute;
    width: 12%;
    height: auto;
    margin-left: 62%;
    margin-right: auto;
    margin-top: 19%;
    margin-bottom: auto;
    z-index: 3;
}

#SportsCircle{
    position: absolute;
    width: 10%;
    height: auto;
    margin-left: 54%;
    margin-right: auto;
    margin-top: 8%;
    margin-bottom: auto;
    z-index: 2;
}

 #ScienceCircle:hover{
        width: 16%;
 }
  #ArtsCircle:hover{
        width: 13%;
 }
 #SocialCircle:hover{
        width: 13%;
 }
  #PoliticsCircle:hover{
        width: 15%;
 }
 #SportsCircle:hover{
        width: 11%;
 }


/*HOME PAGE ICONS*/

/*#women-in{
    position: absolute;
    width: 400px;
    height: auto;
    margin-left: 460px;
    margin-right: auto;
    margin-top: 140px;
    margin-bottom: auto;
    z-index: 5;
}

#ScienceCircle{
    position: absolute;
    width: 200px;
    height: auto;
    margin-left: 340px;
    margin-right: auto;
    margin-top: 130px;
    margin-bottom: auto;
    z-index: 1;
}

#ArtsCircle{
    position: absolute;
    width: 170px;
    height: auto;
    margin-left: 350px;
    margin-right: auto;
    margin-top: 290px;
    margin-bottom: auto;
    z-index: 6;
}

#PoliticsCircle{
    position: absolute;
    width: 200px;
    height: auto;
    margin-left: 730px;
    margin-right: auto;
    margin-top: 250px;
    margin-bottom: auto;
    z-index: 4;
}

#SocialCircle{
    position: absolute;
    width: 150px;
    height: auto;
    margin-left: 850px;
    margin-right: auto;
    margin-top: 220px;
    margin-bottom: auto;
    z-index: 3;
}

#SportsCircle{
    position: absolute;
    width: 140px;
    height: auto;
    margin-left: 728px;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: auto;
    z-index: 2;
}*/

/*ADDED POST MIDTERM DEADLINE*/

/* #ScienceCircle:hover{
        width: 210px;
 }
  #ArtsCircle:hover{
        width: 180px;
 }
 #SocialCircle:hover{
        width: 160px;
 }
  #PoliticsCircle:hover{
        width: 210px;
 }
 #SportsCircle:hover{
        width: 150px;
 }*/

.category{
    display: flex;
    flex-wrap: wrap;
    background-color: #282B40;
    padding: 50px 20px;
    height: auto;  
}

#title{
    margin-left: 15px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    width: 150px;
    background-color: #C70039;
    color: white;
    font-family: "Courier New", Courier, monospace;
}


/*IMAGES*/

/*.carousel-inner{
    margin-left: 150px;
    margin-right: 150px;
}

.carous6l-item img{
    margin-top: auto;
    margin-bottom: auto;
    width: 200px;
    height: 200px;
}

.d-block{
    margin-top: auto;
    margin-bottom: auto;
    width: 200px;
    height: 200px;  
}*/

.container img{
    margin-top: auto;
    margin-bottom: auto;
    /*padding: 2%;*/
    width: 250px;
    height: 250px;    
}

/*IMAGE OVERLAY HOVER*/

.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    width: 250px;
    height: 250px;
}

.overlay{
    /*positioned relative to the nearest positioned ancestor*/
    position: absolute;
    margin-left: 15px;
    transition: all 0.1s ease;
    /*making initial overlay completely clear*/
    opacity: 0;
    background-color: #FFAC00;
}

.container:hover .overlay{
    /*once you hover over image, one can see the overlay*/
    /*if you change the transition time on line 27 to 3s -- you can see the opacity slowly changing*/
    opacity: 1;
}

.overlayFade{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    /*background-color: #9c27b075;*/
}

.text{
    color: black;
    font-family: "Courier New", Courier, monospace;
    /*ABSOLUTE: positioned relative to the nearest positioned ancestor*/
    position: absolute;
    /*center-aligning the text*/
    top: 50%;
    left: 50%;
    text-align: center;
    /*TRANSFORM: repositions an element in the horizontal and/or vertical directions*/
    /*property moving text in the negative direction of x and y*/
    /*here, it repositions the text, "animating" it according to the motion the overlay*/
    /*this can be seen better if you change the transition time on line 27 to 2s -- you can see the text moving slowly*/
    transform: translate(-50%, -50%);
    font-size: 15px;
    font-family: bold;
}

.subtext{
    font-size: 11px;
    font-family: bold;
}


/*FLEXBOX*/

/*SCIENCE*/
.container1{
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-around;*/
}

/*.c1box1{
    flex: 1;
    order: 5; 
}
.c1box2{
    flex: 1;
    order: 4;
}
.c1box3{
    flex: 1;
    order: 3;
}
.c1box4{
    flex: 1;
    order: 2;
}
.c1box5{
    flex: 1;
    order: 1;
}*/

/*ARTS*/
.container2{
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-around;*/
}

/*.c2box1{
    flex: 1;
    order: 5; 
}
.c2box2{
    flex: 1;
    order: 4;
}
.c2box3{
    flex: 1;
    order: 3;
}
.c2box4{
    flex: 1;
    order: 2;
}
.c2box5{
    flex: 1;
    order: 1;
}*/


/*POLITICS*/
.container3{
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-around;*/
}

/*.c3box1{
    flex: 1;
    order: 5; 
}
.c3box2{
    flex: 1;
    order: 4;
}
.c3box3{
    flex: 1;
    order: 3;
}
.c3box4{
    flex: 1;
    order: 2;
}
.c3box5{
    flex: 1;
    order: 1;
}*/

/*SOCIAL CHANGE*/
.container4{
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-around;*/
}

/*.c4box1{
    flex: 1;
    order: 5; 
}
.c4box2{
    flex: 1;
    order: 4;
}
.c4box3{
    flex: 1;
    order: 3;
}
.c4box4{
    flex: 1;
    order: 2;
}
.c4box5{
    flex: 1;
    order: 1;
}*/

/**/

.container5{
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-around;*/
}

/*.c5box1{
    flex: 1;
    order: 5; 
}
.c5box2{
    flex: 1;
    order: 4;
}
.c5box3{
    flex: 1;
    order: 3;
}
.c5box4{
    flex: 1;
    order: 2;
}
.c5box5{
    flex: 1;
    order: 1;
}*/
