/*stylesheets do not require setup. You can just start typing CSS.*/

/*CSS selector: refers to the tag you want to style*/

body {
  background-color: lightpink;
}

h1{
	color: purple;
	font-family: "Georgia";
	text-align: center;
}

h2{
	color: orange;
	font-family: "Verdana";
	font-weight: bold;
	text-align: center;
}

h3{
	font-family: "Verdana";
	color: indianred;
}

p {
  font-family: "Verdana";
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.big {
      	line-height: 2.0;

/*edits: 
all text-align: center;
.center block
*/

