.section{
    position: relative;
    display: inline-block;
}

.text1{
    position: absolute;
    display: inline-block;
    background: white;
    top: 130px;
    margin-left: 100px;
    line-height: 30px;
    width: 500px;
    height: 180px;
    padding: 10px;
}

.text2{
/*    position: static;
    display: inline-block;
    text-align: justify;
    margin-left: 100px;
    margin-right: auto;
    background: white;
    width: 500px;
    padding: 20px;*/
    position: absolute;
    display: inline-block;
    background: white;
    top: 530px;
    margin-left: 100px;
    line-height: 30px;
    width: 500px;
    padding: 20px;
}

.text3{
    position: absolute;
    display: inline-block;
    background: white;
    top: 150px;
    margin-left: 300px;
    line-height: 30px;
    width: 500px;
    padding: 20px;
}


.nav-wrapper li{
    font-weight: bold;
    display: inline;
    padding: 60px;
}

.nav-wrapper a{
    color: black;
    text-decoration: none;
    padding: 10px;
}

#C:hover{
    background-color: #00ffff;
}

#M:hover{
    background-color: #ff00ff;
}

#Y:hover{
    background-color: #ffff00;
}

#K:hover{
    color: white;
    background-color: #000000;
}

#home{
    background-color: #00ffff;
    padding: 50px 20px;
    height: 300px;
}

#about{
    background-color: #ff00ff; 
    padding: 50px 20px;
    height: 300px;
}

#filmography{
    background-color: #ffff00;
    padding: 50px 20px;
    height: 300px;
}

#references{
    background-color: #000000;
    padding: 50px 20px;
    height: 300px;
}

#title{
    text-align: center;
    font-weight: bold;
    background-color: white;
    padding: 10px;
    width: 180px;
}


nav{
    text-align: center;
    /*background-color: #8080ff;*/
    background-color: white;
    /*FIXED: user can always see the navigation bar while they scroll through the website*/
    position: fixed;
    width: 100%;
    z-index: 1;
}

img{
    margin-top: auto;
    margin-bottom: auto;
    width: 200px;
    height: 200px;
}

table{
    position: absolute;
    display: inline-block;
    background: white;
    top: 870px;
    margin-left: 100px;
    line-height: 30px;
    width: 500px;
    padding-left: 20px;
}

/*I had trouble with positioning the text on the page. I tried playing around with margins, 
top/bottom/left/right but it was all messy and I couldn't get the text boxes to be centered 
witht the image*/

/*Also, the table goes over the nav bar and I couldn't figure out how to fix that.*/

/*z index for nav bar -- move forward*/